<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorMessage}}
        </div>
        
        {{>footer}}
    </body>
</html>
