<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <form>
                <input>
                <button placeholder="Location">Search</button>
            </form>
            <p id="msg1"></p>
            <p id="msg2"></p>
            <div id="loading"></div>
        </div>
        
        {{>footer}}
        <script src="/js/index.js"></script>
    </body>
</html>
