<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>In a static HTML file (using handlebars)</p>
        </div>
        
        {{>footer}}
    </body>
</html>
