<html>
    <head>
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        {{>header}}
        <p>In a static HTML file (using handlebars)</p>
        <img src="img/example.jpg" />
        {{>footer}}
    </body>
</html>
